<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
    </head>
    <body>

        <h1> <%= kindOfDay %> </h1>

        <ul>
            <% for (let i = 0; i < newListItem.length; i++) { %>
                <li><%= newListItem[i] %></li>
              <%  } %>
        <form class="" action="/" method="post">
            <input type="text" name="newItem">
            <button type="submit" name="button">Add iems to list</button>
        </form>
              
       
    </body>
</html>